.sidebar {
  width: 390px;
  margin: 3.5rem 0 0 0;
}
.my-profile,
.sidebar-central-heading {
  display: flex;
  align-items: center;
  margin: 15px 0;
  gap: 1rem;
  text-align: left;
}
.sidebar-central-heading {
  justify-content: space-between;
}
.my-profile img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.user-list-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-details-container {
  display: flex;
  gap: 1rem;
}
.user-details-container img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.user-details {
  text-align: left;
}
.user-firstname,
.my-profile-fullname,
.sidebar-central-heading p:first-child {
  font-size: 14px;
  color: var(--mg-secondary-text);
  font-weight: bold;
}
.username,
.user-follow-link,
.my-profile-username,
.sidebar-central-heading p:last-child {
  font-size: 12px;
  color: var(--mg-primary-text);
}

.user-follow-link {
  color: var(--mg-primary-color);
  font-weight: bold;
  cursor: pointer;
}
.user-following-link {
  color: grey;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.sidebar-central-heading {
  font-weight: bold;
  color: var(--mg-primary-text);
}

/************ Responsive Screens **********/
@media (max-width: 1000px) {
  .sidebar {
    display: none;
  }
}
