.root {
  display: flex;
}
.main-content-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin: 0 12rem;
}
.main-content-center {
  width: 55%;
}
.secondary-navbar {
  display: none;
}
.primary-navbar {
  position: sticky;
  top: 0;
  height: 100dvh;
  z-index: 90;
}
.main-content-sidebar {
  position: sticky;
  top: 0;
  height: 100dvh;
  width: 40%;
}

/********* Responsive Screens **********/
@media (max-width: 1360px) {
  .main-content-container {
    margin: 2rem 8rem;
  }
}
@media (max-width: 1264px) {
  .main-content-container {
    margin: 2rem 8rem;
  }
}
@media (max-width: 1160px) {
  .main-content-container {
    margin: 2rem 4rem;
  }
}
@media (max-width: 1100px) {
  .main-content-container {
    margin: 2rem;
  }
}

/****** medium screen ***********/
@media (max-width: 1000px) {
  .main-content-container {
    grid-template-columns: auto;
    margin: 2rem 15rem;
  }
  .main-content-center {
    width: 100%;
  }
  .main-content-sidebar {
    display: none;
  }
}

@media (max-width: 950px) {
  .main-content-container {
    margin: 2rem 14rem;
  }
}

@media (max-width: 900px) {
  .main-content-container {
    margin: 2rem 12rem;
  }
}
@media (max-width: 850px) {
  .main-content-container {
    margin: 2rem 10rem;
  }
}
@media (max-width: 800px) {
  .main-content-container {
    margin: 2rem 10rem;
  }
}

/********* small Screen **********/
@media (max-width: 768px) {
  .root {
    display: flex;
  }
  .main-content-container {
    margin: 5rem 8rem;
  }
  .secondary-navbar {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
  }
}

@media (max-width: 700px) {
  .main-content-container {
    margin: 5rem 6rem;
  }
}

@media (max-width: 600px) {
  .main-content-container {
    margin: 5rem 4rem;
  }
}
@media (max-width: 525px) {
  .main-content-container {
    margin: 5rem 2rem;
  }
}
@media (max-width: 400px) {
  .main-content-container {
    margin: 5rem 0rem;
    width: 500px;
  }
}
