.root {
  display: flex;
  width: 100%;
  /* align-items: center; */
}
.main-content-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding: 1rem 0 0 0;
}
.primary-navbar {
  position: sticky;
  top: 0;
  height: 100dvh;
  z-index: 90;
}
.main-content-center {
  width: 40%;
}

.main-content-sidebar {
  position: sticky;
  top: 0;
  height: 100dvh;
  width: 30%;
}
.secondary-navbar {
  display: none;
}

/********* Responsive Screens **********/

@media (max-width: 1264px) {
  .main-content-center {
    width: 45%;
  }

  .main-content-sidebar {
    width: 35%;
  }
}

/****** medium screen ***********/
@media (max-width: 1000px) {
  .main-content-center {
    width: 50%;
  }
  .main-content-sidebar {
    display: none;
  }
}

@media (max-width: 950px) {
  .main-content-center {
    width: 55%;
  }
}

@media (max-width: 850px) {
  .main-content-center {
    width: 60%;
  }
}

/********* small Screen **********/
@media (max-width: 768px) {
  .secondary-navbar {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .main-content-container {
    padding: 4rem 0 0 0;
  }
}

@media (max-width: 600px) {
  .main-content-center {
    width: 65%;
  }
}
@media (max-width: 525px) {
  .main-content-center {
    width: 75%;
  }
}
@media (max-width: 500px) {
  .main-content-center {
    width: 100%;
  }
}
