.explore-posts-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* padding: 2rem 0 0 10rem; */
}
.explore-page-heading {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin: 0 0.2rem;
}
.explore-category-btn-container {
  display: flex;
  justify-content: space-between;
}
.explore-category-btn-container button {
  border: 2px solid var(--mg-primary-color);
  padding: 0.5rem 1rem;
  background-color: white;
  color: var(--mg-primary-color);
  font-weight: bold;
  cursor: pointer;
}
.explore-category-btn-container button:hover {
  background-color: var(--mg-primary-color);
  color: white;
}

/******Responsive Screens***********/
/********* small Screen **********/
@media (max-width: 768px) {
  .explore-category-btn-container button {
    padding: 0.5rem;
  }
}

@media (max-width: 525px) {
  .explore-category-btn-container {
    padding: 0 0.3rem;
  }
  .explore-category-btn-container button {
    padding: 0.2rem 0.3rem;
  }
}

@media (max-width: 400px) {
  .explore-category-btn-container button {
    padding: 0.2rem;
  }
}
