aside {
  background-color: white;
  border-right: 1px solid var(--mg-border-color);
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 12px 0 0 24px;
  width: 194px;
}
.nav-heading-primary {
  font-size: 24px;
  font-weight: bold;
  font-family: cursive;
}
.nav-heading-secondary {
  color: black;
  font-size: 24px;
  font-weight: black;
  padding: 12px 10px;
  display: none;
}
nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-top: 2rem;
  justify-content: space-between;
}
.nav-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 180px;
  margin: 2px;
  padding: 5px 0 5px 10px;
  font-size: 14px;
}
.nav-link:hover {
  background-color: var(--mg-primary-background);
  border: none;
  border-radius: 20px;
}

.nav-icon {
  font-size: 24px;
  margin-top: 4px;
}

.create-post-btn,
.search-btn {
  cursor: pointer;
}

/*********nav bar my profile section *******/
.navbar-user-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem 5rem 0;
}
.navbar-my-profile {
  display: flex;
  align-items: center;
  margin: 15px 0;
  gap: 0.5rem;
  text-align: left;
}
.navbar-my-profile img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.navbar-my-profile-fullname {
  font-size: 14px;
}
.navbar-my-profile-username {
  font-size: 12px;
  color: grey;
}
.logout-btn {
  cursor: pointer;
}
/**************Responsive Screens**************/
@media (max-width: 1264px) {
  aside {
    width: 50px;
    padding: 12px;
  }
  .nav-heading-primary {
    display: none;
  }
  .nav-heading-secondary {
    display: block;
    padding: 12px;
    margin: 4px;
  }
  .nav-link-text {
    display: none;
  }
  .nav-link {
    width: 25px;
    height: 25px;
    margin: 4px;
    padding: 12px;
  }
  .nav-link:hover {
    background-color: grey;
    border-radius: 100%;
  }
  .navbar-my-profile {
    display: none;
  }
}

/** navbar search input for mobile screen **/
.navbar-search-container {
  display: none;
}

/********* small Screen **********/
@media (max-width: 768px) {
  aside {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    border-bottom: 1px solid var(--mg-border-color);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
  }
  nav {
    display: none;
    flex-direction: row;
    height: 10vh;
  }
  .nav-heading-primary {
    display: block;
    width: 100%;
  }
  .nav-heading-secondary {
    display: none;
  }

  .navbar-search-container {
    display: block;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .nav-heading-primary {
    padding: 0;
  }
}
