.profile-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 1rem 0rem;
}
/******************* User-profile-card*************************/
.user-profile-card {
  display: flex;
  gap: 5rem;
  align-items: center;
  padding: 0 0 3rem 0;
  border-bottom: 1px solid var(--mg-border-color);
  position: relative;
}
.user-profile-card img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.user-profile-card > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}
.user-profile-name-container {
  display: flex;
  gap: 4rem;
  align-items: center;
}
.user-profile-name-container > div {
  width: max-content;
}
/*user profile name and edit button*/
.user-profile-name {
  font-size: 20px;
}

.current-visible-post {
  color: var(--mg-primary-color);
}

.user-bio,
.profile-username {
  font-size: 14px;
  color: var(--mg-primary-text);
}
.user-website,
.profile-edit-btn {
  font-size: 12px;
}

.user-website {
  color: var(--mg-primary-color);
}
/*Profile Page Buttons */

.profile-page-navigation-btn {
  display: flex;
  gap: 2rem;
  cursor: pointer;
}
.profile-edit-btn,
.follow-btn {
  color: var(--mg-secondary-color);
  background-color: var(--mg-primary-color);
  width: max-content;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}
.profile-edit-btn:hover,
.follow-btn:hover {
  color: var(--mg-primary-color);
  background-color: var(--mg-secondary-color);
  border: 1px solid var(--mg-primary-color);
}
.unfollow-btn {
  color: var(--mg-primary-color);
  background-color: white;
  border: 1px solid var(--mg-primary-color);
  width: max-content;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}
.unfollow-btn:hover {
  color: var(--mg-secondary-color);
  background-color: var(--mg-primary-color);
}
.profile-logout-btn {
  cursor: pointer;
  font-size: 25px;
}
/* user stats*/
.user-stats {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.user-stats > div > p {
  font-size: 14px;
}
.user-stats-number {
  font-weight: bold;
}

/******* User Posts******/
.user-posts,
.bookmarks-posts-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.user-post-loader {
  position: fixed;
  top: 50%;
  left: 57%;
}

/*********************** No posts ***********************/
.no-posts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.bookmark-page-btn {
  background-color: var(--mg-primary-color);
  color: var(--mg-secondary-color);
  border: none;
  border-radius: 8px;
  width: 100px;
  padding: 0.5rem;
}
.bookmark-page-btn:hover {
  color: var(--mg-primary-color);
  background-color: var(--mg-secondary-color);
  border: 1px solid var(--mg-primary-color);
}

/******************** Responsive Screens ********************/
@media (max-width: 1264px) {
  .user-post-loader {
    left: 52%;
  }
}
@media (max-width: 900px) {
  .user-profile-card > img {
    width: 100px;
    height: 100px;
  }
  .user-profile-name {
    font-size: 18px;
  }
  .user-post-loader {
    left: 50%;
  }
}
@media (max-width: 768px) {
  .user-posts,
  .bookmarks-posts-container {
    gap: 0.2rem;
  }
  .user-post-loader {
    left: 48%;
  }
}

@media (max-width: 550px) {
  .user-profile-card {
    gap: 1rem;
  }
  .user-profile-name {
    font-size: 16px;
  }
  .user-profile-name-container {
    gap: 2rem;
  }
  .user-stats {
    gap: 1rem;
  }
  .profile-edit-btn,
  .follow-btn,
  .unfollow-btn {
    padding: 0.5rem;
    margin: 0;
  }
  .user-post-loader {
    left: 45%;
  }
}
